<div class="{{themeClass}} container fade-in p-2 p-md-4 rounded-3 screen-container">
    <div class="mb-3">
        <div class="d-flex">
            <button class="btn" style="width: 50px;" onclick="history.back()">
                <i class="fa-solid fa-chevron-left"></i>
            </button>
            <h1 class="fw-semibold m-1">Dashboard</h1>
        </div>
    </div>

    <div class="mb-3 w-25">
      <select id="yearSelect" class="form-select" aria-label="Default select example">
        <option value="">Seleccione el año</option>
        <option value="2025">2025</option>
        <option value="2026">2026</option>
        <option value="2027">2027</option>
        <option value="2028">2028</option>
        <option value="2029">2029</option>
        <option value="2030">2030</option>
      </select>
    </div>
    
    <div class="mb-3">
        <div class="border-0 card shadow">
          <div class="card-body">
            <div class="container px-0">
              <div class="row g-3">
                <!-- Columna izquierda -->
                <div class="col-12 col-md-6">
                  <div class="d-flex flex-column h-100 justify-content-between">
                    <div class="card border-0 bg-success-subtle mb-3 flex-fill">
                      <div class="card-body rounded d-flex flex-column justify-content-center">
                        <div>
                          <span><i class="fa-solid fa-sack-dollar"></i></span>
                          <span class="mx-2">Total ventas</span>
                        </div>
                        <div>
                          <h1 id="totalSales">
                            <p class="placeholder-glow">
                              <span class="placeholder col-12"></span>
                            </p>
                          </h1>
                        </div>
                      </div>
                    </div>
                    <div class="card border-0 bg-primary-subtle flex-fill">
                      <div class="card-body rounded d-flex flex-column justify-content-center">
                        <div>
                          <span><i class="fa-solid fa-calendar-days"></i></span>
                          <span class="mx-2">Total eventos</span>
                        </div>
                        <div>
                          <h1 id="totalEvents">
                            <p class="placeholder-glow">
                              <span class="placeholder col-12"></span>
                            </p>
                          </h1>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
      
                <!-- Columna derecha (Gráfico) -->
                <div class="col-12 col-md-6">
                  <div class="border-0 card h-100">
                    <div class="card-body" id="salesChartContainer">
                      <div class="placeholder-glow" id="chartPlaceholder">
                        <span class="placeholder col-12" style="height: 200px;"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div> <!-- row -->
            </div> <!-- container -->
          </div> <!-- card-body -->
        </div> <!-- card -->
    </div> <!-- mb-3 -->

</div>