<div class="{{themeClass}} container fade-in p-2 p-md-4 rounded-3 screen-container">
    <div class="mb-3">
        <h1 class="fw-semibold m-1">Inicio</h1>
    </div>
    <div class="mb-3">
        <div class="main-card">
            <div class="border-0 card container rounded-3 shadow {{cardTheme}}">
                <div class="card-body row">

                    <div class="col-12 col-md-3 mb-md-0 mb-2 p-2">
                        <div class="align-items-center d-flex">
                            <div class="mx-2">
                                <div class="align-content-center border d-grid text-bg-secondary text-center a-ico">
                                    <span>
                                        <i class="fa-solid fa-calendar-days"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="d-grid" style="line-height: normal;">
                                <span class="fw-bold" id="allEventsTarget">
                                    <p class="placeholder-glow m-0">
                                        <span class="placeholder col-12 rounded-3"></span>
                                    </p>
                                </span>
                                <small class="text-secondary">Todos</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3 mb-md-0 mb-2 p-2">
                        <div class="align-items-center d-flex">
                            <div class="mx-2">
                                <div class="align-content-center border d-grid text-bg-secondary text-center a-ico">
                                    <span>
                                        <i class="fa-solid fa-calendar-days"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="d-grid" style="line-height: normal;">
                                <span class="fw-bold" id="upComingEventsTarget">
                                    <p class="placeholder-glow m-0">
                                        <span class="placeholder col-12 rounded-3"></span>
                                    </p>
                                </span>
                                <small class="text-secondary">Próximos</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3 mb-md-0 mb-2 p-2">
                        <div class="align-items-center d-flex">
                            <div class="mx-2">
                                <div class="align-content-center border d-grid text-bg-secondary text-center a-ico">
                                    <span>
                                        <i class="fa-solid fa-calendar-days"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="d-grid" style="line-height: normal;">
                                <span class="fw-bold" id="finishedEventsTarget">
                                    <p class="placeholder-glow m-0">
                                        <span class="placeholder col-12 rounded-3"></span>
                                    </p>
                                </span>
                                <small class="text-secondary">Realizados</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3 mb-md-0 mb-2 p-2 d-none"></div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="mt-5">
            <div class="border-0 card {{cardTheme}}">
                <div class="shadow card-body rounded-3">
                    <div class="table-responsive">
                        <main-table-outlet>

                            <div>
                                <div class="row">
                                    <div class="col">
                                        <p class="placeholder-glow">
                                            <span class="placeholder col-12"></span>
                                        </p>
                                    </div>
                                    <div class="col">
                                        <p class="placeholder-glow">
                                            <span class="placeholder col-12"></span>
                                        </p>
                                    </div>
                                    <div class="col">
                                        <p class="placeholder-glow">
                                            <span class="placeholder col-12"></span>
                                        </p>
                                    </div>
                                    <div class="col">
                                        <p class="placeholder-glow">
                                            <span class="placeholder col-12"></span>
                                        </p>
                                    </div>
                                </div>
                                <div class="row opacity-50">
                                    <div class="col">
                                        <p class="placeholder-glow">
                                            <span class="placeholder col-12"></span>
                                        </p>
                                    </div>
                                    <div class="col">
                                        <p class="placeholder-glow">
                                            <span class="placeholder col-12"></span>
                                        </p>
                                    </div>
                                    <div class="col">
                                        <p class="placeholder-glow">
                                            <span class="placeholder col-12"></span>
                                        </p>
                                    </div>
                                    <div class="col">
                                        <p class="placeholder-glow">
                                            <span class="placeholder col-12"></span>
                                        </p>
                                    </div>
                                </div>
                                <div class="row opacity-25">
                                    <div class="col">
                                        <p class="placeholder-glow">
                                            <span class="placeholder col-12"></span>
                                        </p>
                                    </div>
                                    <div class="col">
                                        <p class="placeholder-glow">
                                            <span class="placeholder col-12"></span>
                                        </p>
                                    </div>
                                    <div class="col">
                                        <p class="placeholder-glow">
                                            <span class="placeholder col-12"></span>
                                        </p>
                                    </div>
                                    <div class="col">
                                        <p class="placeholder-glow">
                                            <span class="placeholder col-12"></span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            
                        </main-table-outlet>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>