<div class="h-100 kl-bg w-100">
  <div class="container h-100">
    <div class="align-items-center col col-md-5 col-lg-4 d-grid h-100 mx-auto">

      <div>
        <div class="border-0 card rounded-4 text-bg-dark">
          <div class="card-body">

            <div class="text-center mb-3">
              <img src="../../../assets/images/icons/main-header-image.gif" alt="" draggable="false">
            </div>

            <div class="p-3">

                <div class="mb-3">
                  <label for="username" class="form-label">Usuario</label>
                  <input type="text" class="form-control" id="username" aria-describedby="emailHelp" autocomplete="off">
                </div>

                <div class="mb-3">
                  <label for="password" class="form-label">Contraseña</label>
                  <input type="password" class="form-control" id="password">
                </div>

                <div class="mb-3 form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Ver contraseña</label>
                </div>

                <div class="modal-footer border-0">
                  <button type="button" class="btn btn-primary w-100" id="adminLoginBtn">Iniciar</button>
                </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>