<div class="bg-white container p-4 rounded-3 fade-in">
    <div>
        <div>
            <div class="col-md-4 container p-5 px-0">
                <h1 class="text-center fw-bold" style="font-size: 18vh;">404</h1>
                <p class="m-0" style="font-weight: 700;">Este contenido no está disponible.</p>
                <span class="d-block mb-2">
                    Es posible que el enlace que seleccionaste no funcione o que se haya eliminado la página.
                </span>
                <button class="btn btn-dark" onclick="location.href = ''">Volver al inicio</button>
            </div>
        </div>

    </div>
</div>