<!-- <div class="h-auto m-2 offcanvas offcanvas-bottom rounded-3 tabindex= text-bg-dark" tabindex="-1" id="offcanvasMenu" aria-labelledby="offcanvasMenuLabel">
  <div class="offcanvas-header">
    <button type="button" class="border btn-close btn-close-white rounded-5" data-bs-dismiss="offcanvas" aria-label="Close" id="offcanvasMenuCloseBtn"></button>
  </div>
  <div class="offcanvas-body small">
    <ul class="list-group">
      <li class="bg-transparent border-0 list-group-item">
        <a class="lang-elem nav-link nav-link-kl text-bg-dark" aria-current="page" href="/" data-lang="home" data-active="">Home</a>
      </li>
      <li class="bg-transparent border-0 list-group-item">
        <a class="lang-elem nav-link nav-link-kl text-bg-dark" aria-current="page" href="/about" data-lang="about" data-active="about">About us</a>
      </li>
      <li class="bg-transparent border-0 list-group-item">
        <a class="lang-elem nav-link nav-link-kl text-bg-dark" href="/services" data-lang="services" data-active="services">Services</a>
      </li>
      <li class="bg-transparent border-0 list-group-item">
        <a class="lang-elem nav-link nav-link-kl text-bg-dark" href="/contact" data-lang="contact" data-active="contact">Contact</a>
      </li>
      <li class="bg-transparent border-0 list-group-item">
        <a class="lang-elem nav-link nav-link-kl text-bg-dark" href="/terms" data-lang="terms" data-active="terms">Terms</a>
      </li>
    </ul>
  </div>
</div> -->

<div class="h-auto m-2 offcanvas offcanvas-bottom rounded-3 tabindex= text-bg-dark" tabindex="-1" id="offcanvasMenu" aria-labelledby="offcanvasMenuLabel">
  <div class="offcanvas-header">
    <button type="button" class="border btn-close btn-close-white rounded-5" data-bs-dismiss="offcanvas" aria-label="Close" id="offcanvasMenuCloseBtn"></button>
  </div>
  <div class="offcanvas-body small">
    <ul class="list-group">
      <li class="bg-transparent border-0 list-group-item">
        <a class="lang-elem nav-link nav-link-kl text-bg-dark" aria-current="page" href="/" data-lang="home" data-active="">Home</a>
      </li>
      <li class="bg-transparent border-0 list-group-item">
        <a class="lang-elem nav-link nav-link-kl text-bg-dark" aria-current="page" href="/about" data-lang="about" data-active="about">About us</a>
      </li>

      <li class="bg-transparent border-0 list-group-item align-items-center d-flex dropdown">
        <a class="lang-elem nav-link nav-link-kl text-bg-dark dropdown-toggle" href="#" id="offcanvasServicesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-lang="services" data-active="services">Services</a>
        <ul class="bg-dark dropdown-menu" aria-labelledby="offcanvasServicesDropdown" style="min-width: 200px; padding: 8px 0;">
          <li class="mb-2">
            <a class="d-flex dropdown-item justify-content-around service-option px-4 text-bg-dark" href="/serviceskl/" data-service="kl-partys">
              <span>
                <img src="/assets/images/elements/img_btn_1.png" alt="" class="service-option" data-service="kl-partys" style="width: 24px; height: 24px;">
              </span>
              <span class="service-option ms-2" data-service="kl-partys">KL Partys</span>
            </a>
          </li>
          <li  class="mb-2">
            <a class="d-flex dropdown-item justify-content-around service-option px-4 text-bg-dark" href="/services/" data-service="kl-amazing-shows">
              <span>
                <img src="/assets/images/elements/img_btn_2.png" alt="" class="service-option" data-service="kl-amazing-shows" style="width: 24px; height: 24px;">
              </span>
              <span class="service-option ms-2" data-service="kl-amazing-shows">KL Amazing Shows</span>
            </a>
          </li>
        </ul>
      </li>

      <li class="bg-transparent border-0 list-group-item">
        <a class="lang-elem nav-link nav-link-kl text-bg-dark" href="/contact" data-lang="contact" data-active="contact">Contact</a>
      </li>
      <li class="bg-transparent border-0 list-group-item">
        <a class="lang-elem nav-link nav-link-kl text-bg-dark" href="/terms" data-lang="terms" data-active="terms">Terms</a>
      </li>
    </ul>
  </div>
</div>