<div class="container h-100">
    <div class="align-content-center col-12 col-md-4 d-grid h-75 mx-auto">
        <div class="text-center">
            <span class="fw-bold text-center" style="font-size: 9rem;text-shadow: -10px 10px 13px black;">401</span>
        </div>
        
        <div>
            <p>Unauthorized query. Please return to the start and try again.</p>
        </div>
        <div class="text-center">
            <button class="btn btn-primary" onclick="history.back()">
                <span><i class="fa-solid fa-chevron-left"></i></span>
                <span>Go back</span>
            </button>
        </div>
    </div>
</div>