<div class="accordion-body">
    <button class="btn btn-primary mb-3" id="createCharacterBtn">Crear Personaje</button>
    <table class="{{theadTheme}} table table-hover fw-lighter" id="characters-table">
        <thead class="{{theadTheme}}">
            <tr>
                <th scope="col" class="text-start">#</th>
                <th scope="col">Nombre (ES)</th>
                <th scope="col">Nombre (EN)</th>
                <th scope="col">Precio por Hora</th>
                <th scope="col">Activo</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <!-- Placeholders de carga -->
            <tr class="placeholder-glow">
                <td><span class="placeholder col-1"></span></td>
                <td><span class="placeholder col-2"></span></td>
                <td><span class="placeholder col-2"></span></td>
                <td><span class="placeholder col-2"></span></td>
                <td><span class="placeholder col-1"></span></td>
                <td><span class="placeholder col-2"></span></td>
            </tr>
            <tr class="placeholder-glow">
                <td><span class="placeholder col-1"></span></td>
                <td><span class="placeholder col-2"></span></td>
                <td><span class="placeholder col-2"></span></td>
                <td><span class="placeholder col-2"></span></td>
                <td><span class="placeholder col-1"></span></td>
                <td><span class="placeholder col-2"></span></td>
            </tr>
            <tr class="placeholder-glow">
                <td><span class="placeholder col-1"></span></td>
                <td><span class="placeholder col-2"></span></td>
                <td><span class="placeholder col-2"></span></td>
                <td><span class="placeholder col-2"></span></td>
                <td><span class="placeholder col-1"></span></td>
                <td><span class="placeholder col-2"></span></td>
            </tr>
        </tbody>
    </table>
</div>