<div class="card rounded-3">
    <div class="card-body">
        <table class="{{theadTheme}} table table-hover fw-lighter" id="characters-table">
            <thead class="{{theadTheme}}">
                <tr>
                    <th scope="col" class="text-start">#</th>
                    <th scope="col">Nombre (ES)</th>
                    <th scope="col">Nombre (EN)</th>
                    <th scope="col">Precio/Hora</th>
                    <th scope="col">Activo</th>
                </tr>
            </thead>
            <tbody>
                <tr class="placeholder-glow">
                    <td><span class="placeholder col-2"></span></td>
                    <td><span class="placeholder col-3"></span></td>
                    <td><span class="placeholder col-3"></span></td>
                    <td><span class="placeholder col-2"></span></td>
                    <td><span class="placeholder col-2"></span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
