<div class="modal fade" id="createCategoryModal" tabindex="-1" aria-labelledby="createCategoryModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createCategoryModalLabel">Nueva Categoría</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="createCategoryForm">
                <div class="modal-body">
                    <input type="hidden" id="categoryId">
                    <div class="mb-3">
                        <label for="esCategoryName" class="form-label">Nombre en Español</label>
                        <input type="text" class="form-control" id="esCategoryName" required>
                    </div>
                    <div class="mb-3">
                        <label for="enCategoryName" class="form-label">Nombre en Inglés</label>
                        <input type="text" class="form-control" id="enCategoryName" required>
                    </div>
                    <div class="mb-3">
                        <label for="categoryActive" class="form-label">Activo</label>
                        <select class="form-select" id="categoryActive" required>
                            <option value="1">Sí</option>
                            <option value="0">No</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" id="saveCategoryButton">Crear</button>
                </div>
            </form>
        </div>
    </div>
</div>