<div class="card rounded-3">
    <div class="card-body">
        <table class="{{theadTheme}} table table-hover fw-lighter" id="locations-table">
            <thead class="{{theadTheme}}">
                <tr>
                    <th scope="col" class="text-start">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <!-- Placeholders de carga -->
                <tr class="placeholder-glow">
                    <td><span class="placeholder col-2"></span></td>
                    <td><span class="placeholder col-8"></span></td>
                    <td><span class="placeholder col-2"></span></td>
                </tr>
                <tr class="placeholder-glow">
                    <td><span class="placeholder col-2"></span></td>
                    <td><span class="placeholder col-8"></span></td>
                    <td><span class="placeholder col-2"></span></td>
                </tr>
                <tr class="placeholder-glow">
                    <td><span class="placeholder col-2"></span></td>
                    <td><span class="placeholder col-8"></span></td>
                    <td><span class="placeholder col-2"></span></td>
                </tr>
                <tr class="placeholder-glow">
                    <td><span class="placeholder col-2"></span></td>
                    <td><span class="placeholder col-8"></span></td>
                    <td><span class="placeholder col-2"></span></td>
                </tr>
                <tr class="placeholder-glow">
                    <td><span class="placeholder col-2"></span></td>
                    <td><span class="placeholder col-8"></span></td>
                    <td><span class="placeholder col-2"></span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>