<table id="packages-table" class="table table-striped table-hover">
    <thead class="{{theadTheme}}">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre (ES)</th>
            <th scope="col">Nombre (EN)</th>
            <th scope="col">Precio Total</th>
            <th scope="col">Duración (Minutos)</th>
            <th scope="col">Descripción (ES)</th>
            <th scope="col">Descripción (EN)</th>
            <th scope="col">Productos</th>
            <th scope="col">Activo</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
         <tr class="placeholder-glow">
          <td><span class="placeholder col-1"></span></td>
          <td><span class="placeholder col-2"></span></td>
          <td><span class="placeholder col-2"></span></td>
          <td><span class="placeholder col-3"></span></td>
          <td><span class="placeholder col-3"></span></td>
          <td><span class="placeholder col-1"></span></td>
          <td><span class="placeholder col-1"></span></td>
          <td><span class="placeholder col-1"></span></td>
          <td><span class="placeholder col-2"></span></td>
        </tr>
                <tr class="placeholder-glow">
          <td><span class="placeholder col-1"></span></td>
          <td><span class="placeholder col-2"></span></td>
          <td><span class="placeholder col-2"></span></td>
          <td><span class="placeholder col-3"></span></td>
          <td><span class="placeholder col-3"></span></td>
          <td><span class="placeholder col-1"></span></td>
          <td><span class="placeholder col-1"></span></td>
          <td><span class="placeholder col-1"></span></td>
          <td><span class="placeholder col-2"></span></td>
        </tr>
                <tr class="placeholder-glow">
          <td><span class="placeholder col-1"></span></td>
          <td><span class="placeholder col-2"></span></td>
          <td><span class="placeholder col-2"></span></td>
          <td><span class="placeholder col-3"></span></td>
          <td><span class="placeholder col-3"></span></td>
          <td><span class="placeholder col-1"></span></td>
          <td><span class="placeholder col-1"></span></td>
          <td><span class="placeholder col-1"></span></td>
          <td><span class="placeholder col-2"></span></td>
        </tr>
                <tr class="placeholder-glow">
          <td><span class="placeholder col-1"></span></td>
          <td><span class="placeholder col-2"></span></td>
          <td><span class="placeholder col-2"></span></td>
          <td><span class="placeholder col-3"></span></td>
          <td><span class="placeholder col-3"></span></td>
          <td><span class="placeholder col-1"></span></td>
          <td><span class="placeholder col-1"></span></td>
          <td><span class="placeholder col-1"></span></td>
          <td><span class="placeholder col-2"></span></td>
        </tr>
    </tbody>
</table>